@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>Este é um CRUD de produtos, movimentações, clientes e fornecedores de uma loja de autopeças</a>.</p>
</div>
